// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

*{
    margin:0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: white;
    padding-top: 20px;
  }
  
  header{
       background-color: #FCE77D;
       margin-top: auto;
  }
  
  .navbar-nav{
    li{
      margin-right: 15px;
    }
  }
  
  footer{
      background-color: #FCE77D;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-top: 30px;
  }
  
  .footer-logo{
    float: right;
    background: url('../img/logo.jpg');
    background-size: cover;
    height: 50px;
    width: 130px;
  }
  
  .top-btn{
    color: black;
    float: right;
    cursor: pointer;
    margin: 20px;
  }
  
  .navbar-brand{
    background: url('../img/logo.jpg');
    background-size: cover;
    width: 220px;
    height: 80px;
  }
  
  a{
      color: black;
    &:hover{
      color: #F96167;
      text-decoration: underline;
    }
  }
  
  .form-title{
      border-bottom: 2px solid #F96167;
      font-family: impact;
    font-size: 30px;
  }
  
  .btn-center{
    margin-top: 20px;
    padding: 10px;
  }
  
  .submit-btn{
    width: 150px;
    height: 40px;
  }
  
  .submit-btn-sm{
    width: 60px;
    height: 32px;
    font-size: 15px;
    line-height: 16px;
  }

  .btn-sm{
    width: 50px;
    height: 28px;
  }
  
  textarea {
      padding: 3px;
  }
  
  .recipe-tag{
    background-color: #ffc107;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 70px;
  }
  
  [type="search"] {
      outline-offset: -2px;
      -webkit-appearance: auto;
      height: 1.5em;
    }
  
  .bad-flash{
    color: red;
    font-size: 15px;
    font-weight: bold;
  }
  
  .good-flash{
    color: green;
    font-family: impact;
    font-size: 15px;
  }
  
  .font-lg{
    font-size: 25px;
  }
  
  .font-md{
    font-size: 18px;
  }
  
  .font-sm{
    font-size: 15px;
  }
  
  .br-pc {
    display:block;
  }
  .br-tb{
    display:none;
  }
  .br-sp {
    display:none;
  }
  
  .mr-w{
    margin: 0 30px;
  }
  .hidden-pc{
    display: none;
  }
  
  .page-item.active .page-link {
      color: black;
      background-color: #FCE77D;
      border-color: #FCE77D;
  }
  .page-link {
      color: black;
  }
  .pagination {
    justify-content: flex-end;
  }
  
  input:focus{
    border: 1.5px solid #F96167;
    outline: none;
    border-radius: 0.2em;
    padding: 0.5px;
  }
  
  textarea:focus{
    border: 1.5px solid #F96167;
    outline: none;
    border-radius: 0.2em;
    padding: 2.5px;
  }

  .customer-image{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: contain;
    border: 0.5px solid #F96167;
    background-color: #F5F5F5
  }


.recipe-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.recipe-content{
  width: 28%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #F96167;
  padding: 10px;
  border-radius: 10px;
  background-color: #fffefc;

  margin: 15px;
  float: left;
  visibility: hidden;

  box-shadow: 3px 3px 3px 3px #faebd7;
}

.recipe-image{
  width: 100%;
  margin: 0 0;
  height: 220px;
  background-color: #F5F5F5;
  object-fit: contain;
  border-radius: 10px;
}
.recipe-image-show{
  width: 100%;
  height: 405px;
  margin: 0 0;
  background-color: #F5F5F5;
  object-fit: contain;
  border-radius: 10px;
}

.recipe-intro{
  position: absolute;
  bottom: 5%;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 2%;
  padding: 3%;
  display: none;
}

.recipe-show{
  width: 90%;
  margin: 0 5%;
}

.comment-image{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	object-fit: contain;
	border: 0.5px solid #F96167;
	background-color: #F5F5F5
}


.product-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.product-content{
	width: 21%;
	margin: 0 2%;
	display: flex;
	flex-direction: column;

	  margin: 15px;
	  float: left;
	  visibility: hidden;
}

.product-image{
	height: auto;
	width: 100%;
	margin: 0 0;
    border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #faebd7;
}

.product-show{
	width: 100%;
	border-radius: 5px;
}

.genres{
	padding-top: 5px;
	padding-bottom: 5px;
}

.genre_name{
	background-color: white;
	border:0px solid black;
	cursor: pointer;
	padding-bottom: 3px;
	&:hover{
		color: #F96167;
		text-decoration: underline;
	}
}
.top-images{
	width: 100%;
	margin: 0 auto;
	height: 500px;
}

.top1{
  background: url('../img/top_page1.jpg');
  background-position: 0 -50px;
  background-size: cover;
  height: 500px;
	display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-text{
    font-size: 70px;
    color: white;
    margin-bottom: 50px;
    font-family: impact
}

.top-contents{
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}

.top-content{
	width: 333px;
	display: flex;
	height: 200px;
}

.top-content-text{
    text-align: center;
    margin: auto auto;
    font-size: 20px;
    font-weight: bold;
    font-family: impact;
    text-shadow: 1px 1px black;

	span{
	color: white;
	}
}

.top-about{
  background: url('../img/logo.jpg');
	background-size: cover;
}

.top-recipe{
  background: url('../img/top_recipe.jpeg');
	background-size: cover;
}

.top-vegetable{
  background: url('../img/top_vegetable.jpg');
	background-size: cover;
}

.about-content{
	margin-top: 70px;
	border-bottom: 1px solid #F96167;
	padding-bottom: 10px;
}


